#show code
snippet code "ShowCode"
\`\`\`${1:language}
\`\`\`
endsnippet

#hexobu
snippet hexobu "hexobu"
categories:
mathjax:
comments:
endsnippet

#hexoinit
snippet hexoinit "hexobu"
---
title: 
date: 
tags:
categories: 
mathjax: true
comments: true
---
endsnippet

#Codefoce题解
snippet cf_tutorial "hexobu"
# CodeForces-${1:Round}

> CodeForces-$1 | [**Here**]()
> 题解代码 | [**Here**]

A.  

## 题意

## 题解

endsnippet
